/* @font-face {
  font-family: "Montserrat-medium";
  src: local("Montserrat-medium"),
    url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
} */
.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  height: 50px;
  margin: 10px;
  border: 1px solid rgb(114, 114, 114);
  border-radius: 10px;
  /* font-family: "Montserrat-medium"; */
  /* font-family: "Courier New", Courier, monospace; */
  font-weight: 700;
  letter-spacing: 1px;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
.nav-link-wrapper {
  width: 100%;
  height: 100%;
}
.nav-link-wrapper:nth-child(1):hover {
  background-color: rgb(114, 114, 114);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.nav-link-wrapper:nth-child(2):hover {
  background-color: rgb(114, 114, 114);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
